<% include ../partials/header %>

  <div class="text-center"> 
    <h2>Received Messages</h2> 
  </div>
  <table class='table table-striped table-hover'>
    <thead>
      <tr>
        <th>From</th>
        <th>Title</th>
        <th>View Message</th>
      </tr>
    </thead>
    <tbody>
  <% user.receivedMessages.forEach(function(receivedMessage){ %>
    <tr>
      <td><%= receivedMessage.sender.username%></td>
      <td><%= receivedMessage.title%></td>
      <td><button><a href="/users/<%= user._id %>/message/<%= receivedMessage._id%>">Read Me</a></button></td>
    </tr>
  <%  }) %>
  </tbody>
  </table>
</div>
</div>

<div class= 'row'>
  <div class='col-md-offset-2 col-md-8 jumbotron'>
  <div class="text-center"> 
    <h2>Sent Messages</h2> 
  </div>
  <table class='table table-striped table-hover'>
    <thead>
      <tr>
        <th>To</th>
        <th>Title</th>
        <th>View Message</th>
      </tr>
    </thead>
    <tbody>
  <% user.sentMessages.forEach(function(sentMessage){ %>
    <tr>
      <td><%= sentMessage.receiver.username%></td>
      <td><%= sentMessage.title%></td>
      <td><button><a href="/users/<%= user._id %>/message/<%= sentMessage._id%>">Read Me</a></button></td>
    </tr>
  <%  }) %>
  </tbody>
  </table>
</div>


<% include ../partials/footer %>