<% include ../partials/profileheader %>

<div class="container">
    <div class="row">  
      <div class="text-center">
        <h1 class="text-center"><%= user.username %></h1>
        <img id="bigPic" src="<%=user.picture%>" class="img-circle" width='400' height='400'>
        <div class="intro-text">
          <div id="rules" class="skills">Breed: <%=user.breed%></div>
          <div id="rules" class="skills">Age: <%=user.age%></div>
          <div id="rules" class="skills">Favorite Dog Park:<%=user.favDogPark%></div>

      <% if (currentUser !== undefined && currentUser !== null){ %>
        <% if (currentUser.id !== user.id){ %>
         <% if (currentUser.pack.indexOf(user) === -1) {%>

        <form action="/users/<%= user.id %>/joinpack?_method=put" method='POST'>
          <button type='submit' class="btn btn-info btn-xs" role="button">Have <%=user.username%> Join Your Pack!</button>
        </form>

        <% }else{  %>

        <form action="/users/<%= user.id %>/leavepack?_method=put" method='POST'>
          <button type='submit' class="btn btn-danger btn-xs" role="button">Have <%=user.username%> Exit Your Pack</button>
        </form>

        <% }  %>
      <% }  %>
    <% }  %>



        </div>
      </div>
    </div>

<hr>
  <div class="text-center"> 
    <h2><%= user.username %>'s Pack</h2> 
  </div>
  <% user.pack.forEach(function(pack){ %>
    <div class="col-xs-3 col-md-3">
      <div class="thumbnail">
          <img src="<%= pack.picture %>" width='250' height='250' class='img-rounded'>
          <div class="caption">
            <h4><a href="/users/<%= pack.id %>"><%= pack.username %></a></h4>
            <h5><%= pack.age %></h5>
            <h5><%= pack.breed %></h5>
          </div>
      </div>
    </div>
  <%  }) %>
</div>
<hr>


<div class="row">
  <div class="text-center"> 
    <h2><%= user.username %>'s Posts</h2> 
  </div>
  <% user.posts.forEach(function(post){ %>
    <div class="col-xs-3 col-md-3">
      <div class="thumbnail">
          <h5><%= user.username %> - <%= post.date %></h5>
          <img src="<%= post.picture %>" width='250' height='250' class='img-rounded'>
          <div class="caption">
            <h6>Upvotes : <%= post.upvotes.length %> </h6>
            <h4><%= post.title %></h4>
            <a href="/posts/<%= post.id %>" class="btn btn-default btn-xs" role="button">View Post</a>
          </div>
      </div>
    </div>
  <%  }) %>
</div>
<hr>
  <div class="text-center"> 
    <h2><%= user.username %>'s Upvotes</h2> 
  </div>
  <% user.upvotes.forEach(function(upvote){ %>
    <div class="col-xs-3 col-md-3">
      <div class="thumbnail">
          <h5><%= upvote.username %> - <%= upvote.date %></h5>
          <img src="<%= upvote.picture %>" width='250' height='250' class='img-rounded'>
          <div class="caption">
            <h6>Upvotes : <%= upvote.upvotes.length %> </h6>
            <h4><%= upvote.title %></h4>
            <a href="/posts/<%= upvote.id %>" class="btn btn-default btn-xs" role="button">View Post</a>
          </div>
      </div>
    </div>
  <%  }) %>
</div>

<% include ../partials/footer %>